<!DOCTYPE html>
<html>
  <head>
    <title>Uke</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="brand">创见 | Serendipity</div>
    <div class="address-bar">成长路上，你我都不再孤独！</div>
  	<div class="container-fluid">
      <div class="row">
        <%= render "common/navbar" %>
      <%= render "common/flashes" %>
      <%= yield %>
      </div>
  		
    </div>
    
    <%= render "common/footer" %>
  </body>
</html>
